/* #region color */
:root {
    --header: #eaeaea;
    --text: #878788;
    --message-sent: #d5f9ba;
    --bg-dark-mode: #111b21e6;
    --hover-dark-mode: #202c33;
    --green-dark-mode:#00a884;
    --contatcs-hover:#e9ebeb; 
    --notifications:#8edafc;
}

/* #endregion color */
body {
    min-height: 100vh;
    background: linear-gradient(#00887b 20%, #dadbd3 20%);
    overflow-y: hidden;
    position:relative;
}

.dark_mode {
    position:absolute;
    top:0;
    height: 100vh;
    width:100%;
}

.dark_mode > .container {
    height:95vh;
}

.left {
    width: 35%;
    background-color: var(--header);
    border-bottom: 1px solid #b0b0b1;
    border-right: 1px solid #b0b0b1;
}

.right {
    width: 65%;
    background-color: var(--header);
    border-bottom: 1px solid #b0b0b1;
    position:relative;
}
/* Classes colors*/
.bg_dark_mode {
    background-color: var(--bg-dark-mode);
}

.bg_header {
    background-color: var(--header);
}

.bg_input_footer {
    background-color: #33444d;
}
.form-control:focus {
background: transparent;
}
.header_hover_dark_mode {
    background-color: var(--hover-dark-mode);
}

.contact_hover {
    background-color: var(--contatcs-hover);
}

/* #region left */
.drop {
    position:absolute;
    width:100px;
    height:40px;
    bottom:-50px;
    left: -70px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 2;
    background-color: white;
}

img {
    border-radius: 50%;
}

.logo_user {
    width: 40px;
}

.logo_user+span {
    font-size: 12px;
}

.status {
    display: block;
    font-size: 9px;
    color: var(--text);
}

i {
    color: #b0b0b1;
}

i:hover,
.notify_message>span:last-child {
    cursor: pointer;
}

main.container {
    height: calc(100% - 92px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.bg_image {
    background-image: url('../img/mine.jpg');
}

.bg_image_dark {
    background-image: url('https://wallpaperaccess.com/full/2224392.png');
    background-size: cover;
}

.notifications {
    background-color: var(--notifications);
}

.icon_bell {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
}

.icon_bell>i {
    color: #8edafc;
}

.notify_message>span:first-child {
    font-size: 10px;
    font-weight: bold;
}

.notify_message>span:last-child,
.info>span:last-child {
    font-size: 10px;
    color: var(--text);
    font-weight: 600;
}

.contacts {
    height: calc(100% - 138px);
    overflow-y: scroll;
    list-style: none;
    padding-left: 0;
}

.contact {
    margin-top: 2px;
    cursor: pointer;
}

.contact:hover {
    background-color: var(--header);
}

.info>span:first-child {
    font-size: 12px;
    font-weight: 600;
}

/* #endregion left */
/* #region right */
.menu_right {
    padding: 12px;
    margin-left: auto;
}

.data {
    font-size: 9px;
    color: var(--text);
}

.col > div {
    position: relative;
}

.message_received {
    background-color: white;
    font-size: 12px;
    font-weight: 600;
    width: 35%;
    margin-right: auto;
}

.message_sent {
    background-color: var(--message-sent);
    font-size: 12px;
    font-weight: 600;
    margin-left: auto;
    width: 35%;
}

main .fa-angle-down {
    position: absolute;
    right: 10px;
    top: 5px;
    display: none;
}

.overlay {
    background-image: url('https://www.svgrepo.com/show/110197/whatsapp.svg'), url('https://cdn.wallpapersafari.com/91/2/DExBhK.jpg');
    background-position: center, center;
    background-size: 10%, cover;
    background-repeat: no-repeat;
}

.welcome_text > h3 {
    top:30%;
}

.welcome_text > .small_paragraphs {
    bottom:18%;
}

.col>div:hover .fa-angle-down {
    display: block;
}

.popup {
    position: absolute;
    top: 45px;
    right: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
    box-shadow: 0 0 2px 0px;
}

.popup button {
    border: 0;
    background-color: white;
}

button:hover {
    border: 2px solid var(--text);
    border-radius: 10px;
}

.message_data {
    font-size: 9px;
}

footer {
    position:absolute;
    bottom:0;
    width:100%;
}

footer>input {
    width: 85%;
    border: 0;
    border-radius: 6px;
    padding: 6px;
}

footer i {
    color: #6b7274;
}

/* #endregion right */

/* Responsive */


@media screen and (max-width: 768px) {
    .menu_left i:not(.menu_left i:last-child) {
        display: none;
    }

    div.container {
        max-width: 100%;
    }
}

@media screen and (max-width:554px) {

    .menu_right i:not(i:last-child),
    .notify_message {
        display: none;
    }

}

@media screen and (max-width:486px) {
    .left {
        width: 27%;
    }
    .right {
        width:73%;
    }
    .info_user {
        flex-direction: column;
    }

    .message_sent,
    .message_received {
        margin: 0;
        width: fit-content
    }
}