/* #region color */
:root {
    --header: #eaeaea;
    --text: #878788;
    --message-sent:#d5f9ba;
}
/* #endregion color */
body {
    height: 100vh;
    background: linear-gradient(#00887b 20%, #dadbd3 20%);
    overflow-y: hidden;
}

.left {
    width:35%;
    background-color: var(--header);
    border-bottom: 1px solid  #b0b0b1;
    border-right: 1px solid  #b0b0b1;
}

.right {
    width:65%;
    background-color: var(--header);
    border-bottom: 1px solid  #b0b0b1;
}

/* #region left */
img {
    border-radius: 50% ;
}

.logo_user {
    width:40px;
}

.logo_user + span {
    font-size: 12px;
}
 .status {
    display:block;
    font-size: 9px;
    color: var(--text);
 }

i {
    color: #b0b0b1;
}

i:hover, .notify_message > span:last-child {
    cursor: pointer;
}

main.container {
    background-image: url(../img/mine.jpg);
    height:400px;
    overflow-y: scroll;
}

.notifications {
    background-color: #8edafc;
}

.icon_bell {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
} 

.icon_bell > i {
    color:#8edafc;
}

.notify_message > span:first-child {
    font-size: 10px;
    font-weight: bold;
}

.notify_message > span:last-child,
.info > span:last-child {
    font-size: 8px;
    color: var(--text);
    font-weight: 700;
}

.contacts {
    background-color: #fafafa;
    height:350px;
    overflow-y: scroll;
    list-style: none;
    padding-left: 0;
}

.contact {
    background-color: white;
    margin-top: 2px;
    cursor: pointer;
}
.contact:hover {
    background-color: #e9ebeb;
}

.info > span:first-child {
    font-size: 12px;
    font-weight: 600;
}

/* #endregion left */
/* #region right */
.menu_right {
    padding: 12px;
}

.data {
    font-size: 8px;
    color: var(--text);
}

.col > div {
    position: relative;
}

.message_received {
    background-color: white;
    font-size: 12px;
    font-weight: 600;
    width: 35%;
    margin-right: auto;
}

.message_sent {
    background-color: var(--message-sent);
    font-size: 12px;
    font-weight: 600;
    margin-left: auto;
    width:35%;
}

main .fa-angle-down {
    position:absolute;
    right: 10px;
    top: 5px;
    display: none;
}

.col > div:hover .fa-angle-down {
    display:block;
}

.popup {
    position: absolute;
    top:45px;
    right:10px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
    box-shadow: 0 0 2px 0px;
}

.popup button {
    border: 0;
    background-color: white;
}

button:hover {
    border: 2px solid var(--text);
    border-radius: 10px;
}

.message_data {
    font-size: 8px;
}
footer > input {
    width: 85%;
    border: 0;
    border-radius: 6px;
    padding: 6px;
}

footer i {
    color: #6b7274;
}
/* #endregion right */